.overlay {
  background: rgba(48, 68, 97, 0.87); }

.background {
  background-image: url("../assets/img/home-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
