
<div class="red-background">
  <p>ADMIN REGISTER:</p>
  <form ng-submit="register(newUser)">
    Name: <input type="text" ng-model="newUser.name" required/>
    Email: <input type="email" ng-model="newUser.email" required/>
    Password: <input type="password" ng-model="newUser.password" required/>
    <button type="submit">Register</button>
  </form>
<!-- ******************* -->
<!-- <p>ADMIN REGISTER:</p>
<form ng-submit="register(newUser)">
  Name: <input type="text" ng-model="newUser.name" required/>
  Email: <input type="email" ng-model="newUser.email" required/>
  Password: <input type="password" ng-model="newUser.password" required/>
  <button type="submit">Register</button>
</form>
<br><br><br> -->
