<!-- <div class="register-background">
<div class="grey-overlay"> -->
    <div class="register-container">
    <div class="register-title">Admin Register</div>
    <div class="register-paragraph">
    A brief description about how easy this tool is for admins to use. Master cleanse kogi gluten-free
    man braid, viral fixie polaroid squid migas brooklyn bicycle rights iceland. Hot chicken chillwave
    ramps, dreamcatcher mumblecore offal farm-to-table. Beard la croix leggings, health goth swag poke
    echo park iceland migas cold-pressed sustainable.
   </div>
 </div>
<!-- </div> -->
<!-- </div> -->

    <!-- <input type="text"  placeholder="Admin Username" class="register-input-field" ng-model="newUser.name" required/>
    <input type="email" placeholder="Admin Email"  class="register-input-field" ng-model="newUser.email" required/>
    <input type="password" placeholder="Admin Password" class="register-input-field" ng-model="newUser.password" required/>
    <input type="text" placeholder="Admin Password" class="register-input-field" ng-model="newUser.photo" required/>
    <input type="submit" class="register-button-teal" ng-click="register(newUser)"> -->



<!-- ******************* -->
<!-- <p>ADMIN REGISTER:</p>
<form ng-submit="register(newUser)">
  Name: <input type="text" ng-model="newUser.name" required/>
  Email: <input type="email" ng-model="newUser.email" required/>
  Password: <input type="password" ng-model="newUser.password" required/>
  <button type="submit">Register</button>
</form>
<br><br><br> -->
