<div class="register-background">

    <div class="grey-overlay">
        <div class="register-container">
            <div class="register-title">Admin Register</div>
            <div class="register-paragraph">
                A brief description about how easy this tool is for admins to use. Master cleanse kogi gluten-free man braid, viral fixie polaroid squid migas brooklyn bicycle rights iceland. Hot chicken chillwave ramps, dreamcatcher mumblecore offal farm-to-table. Beard
                la croix leggings, health goth swag poke echo park iceland migas cold-pressed sustainable.
            </div>

            <div class="reg-pos-in1">
                <input type="text" placeholder="Admin Username" class="register-input-field move-left" ng-model="newUser.name" required/>
                <input type="email" placeholder="Admin Email" class="register-input-field move-right" ng-model="newUser.email" required/>
            </div>
            <div class="clear"></div>
            <div class="reg-pos-in2">
                <input type="password" placeholder="Admin Password" class="register-input-field move-left" ng-model="newUser.password" required/>
                <input type="text" placeholder="Admin Photo" class="register-input-field move-right" ng-model="newUser.photo" required/>
            </div>

            <input type="submit" class="register-button-teal" ng-click="register(newUser)">
        </div>
