$off-white: #EFE9E9;
$med-grey: #B3B3B3;
$teal: #00BBB3;
$soft-red: #EC4B53;
$dark-blue: #2F4461;
$dark-grey: #333333;

$font: Gill Sans, Gill Sans MT ,Calibri,sans-serif;
$font-size: 30px;

$border-radius: 8px;

$in-width: 375px;
$in-height: 53px;

$button-width: 168px;
$button-height: 53px;
