@import url("https://fonts.googleapis.com/css?family=Pacifico");
.background-home {
  width: 100%;
  height: 100vh;
  background: #333333;
  background-size: cover; }

.container {
  z-index: 0;
  display: flex; }

.div-home {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column; }

.left-half {
  color: #EFE9E9;
  background-color: #333333;
  flex: 1;
  padding: 1rem; }

.right-half {
  color: #EFE9E9;
  background-color: #333333;
  flex: 1;
  padding: 1rem; }

.welcome-title {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  position: relative;
  top: 140px; }

.user-photo {
  width: 160px;
  height: 160px;
  background: #B3B3B3;
  padding: 0px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  position: relative;
  top: 187px; }

.station-name {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 30px;
  color: #B3B3B3;
  position: relative;
  top: 230px; }

.test {
  width: 375px;
  height: 53px;
  border-radius: 8px;
  border: 2px solid #B3B3B3;
  background: #00BBB3;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 30px;
  color: #EFE9E9;
  position: absolute; }

.vertical-line {
  z-index: 1;
  height: 500px;
  border-right: 4px solid #EFE9E9;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 130px;
  left: 50%; }

.drop-down {
  color: #B3B3B3;
  position: absolute;
  right: 33px;
  top: 25px; }

.input-po-position {
  top: 263px; }

.add-button {
  width: 168px;
  height: 53px;
  border-radius: 8px;
  border: 2px solid #B3B3B3;
  background: #00BBB3;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 30px;
  color: #EFE9E9;
  position: relative;
  top: 370px; }

.a-add {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  right: 22px; }

.admin-find {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px; }

.find-button {
  width: 168px;
  height: 53px;
  border-radius: 8px;
  border: 2px solid #B3B3B3;
  background: #EC4B53;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 30px;
  color: #EFE9E9;
  position: relative;
  top: 370px; }

@import url("https://fonts.googleapis.com/css?family=Pacifico");
.edit-background {
  width: 100vw;
  height: 100vh;
  background: #00BBB3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }

.edit-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column; }

.horizontal-line-wrapper {
  display: flex; }

.horizontal-line {
  width: 700px;
  height: 30px;
  background: #B3B3B3;
  top: 300px; }

.rectangle {
  width: 700px;
  height: 200px;
  background: #00BBB3;
  position: relative;
  top: 150px;
  -webkit-flex: 1;
  flex: 1; }

.checkbox-position {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 30px;
  color: #EFE9E9;
  position: absolute;
  top: 585px;
  left: 672px; }

.edit-add-button {
  width: 240px;
  height: 53px;
  border-radius: 8px;
  border: 2px solid #B3B3B3;
  background: #00BBB3;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 30px;
  color: #EFE9E9;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  top: 450px;
  right: 208px; }

.edit-delete-button {
  width: 240px;
  height: 53px;
  border-radius: 8px;
  border: 2px solid #B3B3B3;
  background: #bd141c;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 30px;
  color: #EFE9E9;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  top: 450px;
  left: 208px; }

.dot {
  background: blue;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block; }

@import url("https://fonts.googleapis.com/css?family=Pacifico");
.background-home {
  width: 100%;
  height: 100vh;
  background: #333333;
  background-size: cover; }

.container {
  display: flex; }

.div-home {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column; }

.left-half {
  color: #EFE9E9;
  background-color: #333333;
  flex: 1;
  padding: 1rem; }

.right-half {
  color: #EFE9E9;
  background-color: #333333;
  flex: 1;
  padding: 1rem; }

.welcome-title {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  position: relative;
  top: 140px; }

.user-photo {
  width: 160px;
  height: 160px;
  background-size: 100%;
  padding: 0px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  position: relative;
  top: 187px; }

.station-name {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 30px;
  color: #B3B3B3;
  position: relative;
  top: 230px; }

.drop-down {
  color: #B3B3B3;
  position: absolute;
  right: 33px;
  top: 25px; }

.input-po-position {
  top: 263px; }

.row-align {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-direction: row; }

.add-button {
  width: 168px;
  height: 53px;
  border-radius: 8px;
  border: 2px solid #B3B3B3;
  background: #00BBB3;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 30px;
  color: #EFE9E9;
  position: relative;
  top: 370px; }

.a-add {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  right: 22px; }

.a-find {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  left: 22px; }

.find-button {
  width: 168px;
  height: 53px;
  border-radius: 8px;
  border: 2px solid #B3B3B3;
  background: #EC4B53;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 30px;
  color: #EFE9E9;
  position: relative;
  top: 370px; }

@import url("https://fonts.googleapis.com/css?family=Pacifico");
.overlay {
  width: 100%;
  height: 100vh;
  background: rgba(48, 68, 97, 0.87);
  position: absolute; }

.background {
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/img/homeBG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }

.vertical-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: column; }

.title {
  font-family: "Pacifico", cursive;
  font-size: 65px;
  color: #EFE9E9;
  position: absolute;
  top: 86px; }

.logo {
  width: 85px;
  height: 48px;
  background: url("../../../assets/img/logo-off-white.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 163px; }

.input-field {
  width: 375px;
  height: 53px;
  border-radius: 8px;
  border: 2px solid #B3B3B3;
  background: #EFE9E9;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 30px;
  position: absolute;
  text-indent: 10px; }

.postition-input1 {
  top: 264px; }

.postition-input2 {
  top: 345px; }

.button-teal {
  width: 375px;
  height: 53px;
  border-radius: 8px;
  border: 2px solid #B3B3B3;
  background: #00BBB3;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 30px;
  color: #EFE9E9;
  position: absolute;
  top: 530px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: row; }

.position-button1 {
  top: 446px; }

h2 {
  display: inline-block;
  padding: 0 40px;
  position: relative; }

h2:before,
h2:after {
  background: #EFE9E9;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  top: 50%;
  width: 135px; }

h2:before {
  right: 100%; }

h2:after {
  left: 100%; }

.lines {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 30px;
  color: #EFE9E9;
  text-align: center;
  position: relative;
  top: 485px; }

.teal-text {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 30px;
  color: #00BBB3;
  position: relative;
  top: 508px; }

.info-links {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 24px;
  color: #B3B3B3;
  position: absolute;
  top: 680px; }

@import url("https://fonts.googleapis.com/css?family=Pacifico");
.map-background {
  width: 100vw;
  height: 100vh;
  background: #2F4461; }

@import url("https://fonts.googleapis.com/css?family=Pacifico");
.grey-overlay {
  width: 100%;
  height: 100vh;
  background: rgba(51, 51, 51, 0.75);
  position: absolute; }

.register-background {
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/img/fabric.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }

.register-title {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 30px;
  color: #EFE9E9;
  position: absolute;
  top: 150px;
  left: 10%; }

.register-paragraph {
  width: 80%;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 21px;
  color: #EFE9E9;
  text-align: justify;
  position: relative;
  margin: auto;
  top: 200px; }

.register-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: column; }

.input-container {
  width: 90%;
  height: 300px; }

.reg-pos-in1 {
  position: absolute;
  top: 400px; }

.reg-pos-in2 {
  position: absolute;
  top: 505px; }

.register-input-field {
  width: 375px;
  height: 53px;
  border-radius: 8px;
  border: 2px solid #B3B3B3;
  background: #EFE9E9;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 30px;
  position: relative;
  text-indent: 10px; }

.clear {
  clear: both; }

.position-input3 {
  top: 426px; }

.register-button-teal {
  width: 375px;
  height: 53px;
  border-radius: 8px;
  border: 2px solid #B3B3B3;
  background: #00BBB3;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
  font-size: 30px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-direction: column;
  color: #EFE9E9;
  position: absolute;
  top: 660px;
  text-align: center;
  line-height: 41px; }

.move-left {
  right: 5%;
  top: 5%; }

.move-right {
  left: 5%; }

@import url("https://fonts.googleapis.com/css?family=Pacifico");
.nav body {
  font-family: "Lato", sans-serif; }

.nav-button .fa-caret-left:before {
  content: "\f0d9";
  color: #B3B3B3;
  position: relative;
  left: 285px;
  top: -50px; }

.sidenav {
  height: 30%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: rgba(48, 68, 97, 0.87);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 50px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  margin-left: 50px;
  color: #EFE9E9; }
