
<section class="background-home container font-thickness-adjust">
  <div class="vertical-line"></div>
  <div class="div-home left-half">
    <!--¡¡¡¡¡¡¡¡I NEED A DIV WITH NG-REPEAT ¡¡¡¡¡¡ -->
    <!-- <div ng-repeat="asset in welcomeAssets"> -->
    <!-- <h1 ng-repeat="x in records">{{x}}</h1> -->

    <div class="welcome-title">Welcome, {{response[0].employee_name}}</div>

    <!-- below add user pictire using {{something.something-photo}} -->
    <img class="user-photo" src="{{response[0].photo}}" alt= "user photo"/>
    <div class="station-name">Station: {{response[0].checkpoint_name}}</div>
  <!-- </div> -->
  </div>

  <div class="div-home right-half">
    <input type="number"  placeholder="PO#" class="input-field input-po-position" ng-model="ponum"/>
    <div class="row-align">
      <a href="/" type="button" class="add-button a-add row-align" ng-click="addpo(ponum)">Add <i class="fa fa-plus" aria-hidden="true" fa-lg></i></a>
      <a href="/" type="button" class="find-button a-find row-align" ng-click="findpo(ponum)">Find <i class="fa fa-search" aria-hidden="true" fa-lg></i></a>
      <!-- <a href="/" type="button" class="find-button a-find row-align">Find <i class="fa fa-search" aria-hidden="true" fa-lg></i></a> -->



    </div>
    <nav-directive></nav-directive>
  </div>
</section>


<!-- =============================================== -->

<!--uncomment this once get views set up  -->
<!-- <div>this is the add po view</div>
<img ng-src="" alt="user photo"/>
<h1>{{checkPointName}}</h1>
<h2>{{userName}}</h2>

<input type="text" placeholder="PO Number" ng-model="ponum">
<button ng-click="addpo(ponum)">add</button> <!The Add PO# link shows here as well as the index.html???  -->
