<section class="background-home container font-thickness-adjust">
  <div class="div-home left-half">
    <div class="welcome-title">Welcome, Björk</div>
    <img src="http://www.interviewmagazine.com/files/2009/05/21/img-bjork-fig-1_110739349400.jpg" class="user-photo" alt= "user photo"/>
    <div class="station-name">Station: Laser Cutter</div>
    <div class="vertical-line"></div>
  </div>
  <div class="div-home right-half">
    <input type="text"  placeholder="PO#" class="input-field input-po-position"/>
    <div class="row-align">
      <a href="/" type="button" class="add-button a-add row-align">Add <i class="fa fa-plus" aria-hidden="true" fa-lg></i></a>
      <a href="/" type="button" class="find-button a-find row-align">Find <i class="fa fa-search" aria-hidden="true" fa-lg></i></a>
    </div>
  </div>
</section>

<!--uncomment this once get views set up  -->
<!-- <div>this is the add po view</div>
<img ng-src="" alt="user photo"/>
<h1>{{checkPointName}}</h1>
<h2>{{userName}}</h2>

<input type="text" placeholder="PO Number" ng-model="ponum">
<button ng-click="addpo(ponum)">add</button> <!The Add PO# link shows here as well as the index.html???  -->
