<div class="edit-background">
<div class="div-home">
  <div class="horizontal-line-wrapper">

    <div class="horizontal-line"></div>
    <!-- just skeleton code, need to write css for .dots. reference: https://css-tricks.com/using-angularjs-for-data-visualisations/-->
    <div class="dots" ng-repeat="checkpoint in checkpoints">{{checkpoint}}</div>
  </div>


  <div class="reg-pos-in1">
      <input type="text" placeholder="Username" class="register-input-field move-left" ng-model="obj.name" required/>
      <input type="password" placeholder="Password" class="register-input-field move-right" ng-model="obj.password" required/>
  </div>
  <div class="clear"></div>
  <div class="reg-pos-in2">
      <input type="text" placeholder="Checkpoint" class="register-input-field move-left" ng-model="obj.checkPoint" required/>
      <input type="text" placeholder="User Photo" class="register-input-field move-right" ng-model="obj.photo" required/>
  </div>
  <div class="checkbox-position">
  Make Admin: <input type="checkbox" ng-model="obj.admin"/>
 </div>
 <div class="row-align">
   <a href="/" type="button" class="edit-add-button row-align edit-add-position" ng-click="getter(obj)">Make User <i class="fa fa-user-plus" aria-hidden="true" fa-lg></i></a>
   <a href="/" type="button" class="edit-delete-button row-align edit-delete-position">Delete User<i class="fa fa-trash" aria-hidden="true" fa-lg></i></a>

 </div>
    <!-- <input type="submit" class="register-button-teal" ng-click="getter(obj)"> -->
  <!-- <div class="form-position">
    <form ng-submit="getter(obj)">
      Username: <input type="text" ng-model="obj.name" required/>
      Password: <input type="password" ng-model="obj.password" required/>
      Checkpoint: <input type="text" ng-model="obj.checkPoint" required/>
      User Photo: <input type="text" ng-model="obj.photo" required/>
      Admin: <input type="checkbox" ng-model="obj.admin"/>
      <button type="submit">make user and checkpoint</button>
    </form>
  </div>
</div>
</div> -->
