<div class="edit-background font-thickness-adjust">
<div class="edit-container">
 <div class="rectangle">

   <div ng-repeat="checkpoint in checkpoints">
     {{checkpoint}}<br>
     <div class="dot"></div>
   </div><br>
    <div class="horizontal-line"></div>
    <!-- just skeleton code, need to write css for .dots. reference: https://css-tricks.com/using-angularjs-for-data-visualisations/-->

  </div>


  <div class="reg-pos-in1">
      <input type="text" placeholder="Username" class="register-input-field move-left" ng-model="obj.name" required/>
      <input type="password" placeholder="Password" class="register-input-field move-right" ng-model="obj.password" required/>
  </div>
  <div class="clear"></div>
  <div class="reg-pos-in2">
      <input type="text" placeholder="Checkpoint" class="register-input-field move-left" ng-model="obj.checkPoint" required/>
      <input type="text" placeholder="User Photo" class="register-input-field move-right" ng-model="obj.photo" required/>
  </div>
  <div class="checkbox-position">
  Make Admin: <input type="checkbox" ng-model="obj.admin"/>
 </div>
 <div class="row-align">
   <a href="/" type="button" class="edit-add-button row-align edit-add-position" ng-click="getter(obj)">Make User <i class="fa fa-user-plus" aria-hidden="true" fa-lg></i></a>
   <a href="/" type="button" class="edit-delete-button row-align edit-delete-position">Delete User<i class="fa fa-trash" aria-hidden="true" fa-lg></i></a>

 </div>
</div>
</div>
