@import 'public/app/styles/scss/_main';

.edit-background {
  width: 100vw;
  height: 100vh;
  background: $teal;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.edit-container {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  flex-direction: column;
}


.horizontal-line-wrapper {
  display: flex;
}

.horizontal-line {
  width: 700px;
  height: 30px;
  background: $med-grey;
  top: 300px;


}
.rectangle {
  width: 700px;
  height: 200px;
  background: $teal;
  position:relative;
  top: 150px;
  -webkit-flex: 1;
  flex:1;
}

//============form styling below========================
.checkbox-position {
    font-family: $font;
    font-size: $font-size;
    color: $off-white;
    position: absolute;
    top: 585px;
    left: 672px;
}

.edit-add-button {
  width: 240px;
  height: $button-height;
  border-radius: $border-radius;
  border: 2px solid $border-color;
  background: $teal;
  font-family: $font;
  font-size: $font-size;
  color: $off-white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  top: 450px;
  right: 208px;
}


.edit-delete-button {
    width: 240px;
    height: $button-height;
    border-radius: $border-radius;
    border: 2px solid $border-color;
    background: darken($soft-red, 20%);
    font-family: $font;
    font-size: $font-size;
    color: $off-white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    position: relative;
    top: 450px;
    left: 208px;
}

  .dot {
    background: blue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
  }
