@import 'public/app/styles/scss/_main';

.edit-background {
  width: 100%;
  height: 100vh;
  background: $teal;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.checkbox-position {
    font-family: $font;
    font-size: $font-size;
    color: $off-white;
    position: absolute;
    top: 585px;
    right: 745px;
}

.edit-add-button {
  width: 240px;
  height: $button-height;
  border-radius: $border-radius;
  border: 2px solid $border-color;
  background: $teal;
  font-family: $font;
  font-size: $font-size;
  color: $off-white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  top: 630px;
  right: 183px;
}


.edit-delete-button {
    width: 240px;
    height: $button-height;
    border-radius: $border-radius;
    border: 2px solid $border-color;
    background: darken($soft-red, 20%);
    font-family: $font;
    font-size: $font-size;
    color: $off-white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    position: relative;
    top: 630px;
    left: 183px;

  }


.horizontal-line-wrapper {
  display: flex;
}

.horizontal-line {
  width: 700px;
  height: 10px;
  background: darkorange;
  position:relative;
  top: 150px;
  -webkit-flex: 1;
  flex:1;
}
